Authlib
PyJWT
asgiref
certifi
cffi
channels
channels-redis
chardet
cryptography
daphne
defusedxml
django
django-allauth
django-cors-headers
django-eventstream
django-filter
django-grip
django-ipware
django-on-heroku
django-polymorphic
django-rest-polymorphic
django-storages
django-utils-six
djangorestframework
ecdsa
gunicorn
idna
loguru
oauth2client
oauthlib
pyasn1
pycparser
python-dotenv
python-jose
python3-openid
pytz
requests
requests-oauthlib
rsa
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
whitenoise
